* {
    font-family: 'Poppins', sans-serif;
    padding:0px;
    margin:0px;
}

body {
    background-color:#0d1b2a;
    color:   #e0e1dd;
}

header {
    background-color:#0d1b2a;
    height:10vh;
    min-height:50px;
    outline:solid 0.5vh #e0e1dd;
    padding:0px 1vw;
}

.menu-bar {
display:flex;
justify-content: space-between;
align-items:center;
}
 
.social-media {
    display:flex;
    flex-direction:column;
    padding-top:250px;
}

.social-media img {
    height:40px;
    padding: 10px 10px;
}

.main-menu a{
    text-decoration: none;
    color:#778da9;
    padding: 0px 20px;
}

.splash {
    height: 90vh;
    width: 100%;
    background-image:url("../images/unsplash-bg.jpg");
    background-size: cover;
    background-position: center;
}

h2 {
    margin:30vh 5vw 5vh 5vw;
}

main p {
    margin:5vh 5vw 5vh 5vw;
    
}

main section {
    margin:5vh 5vw 80vh 5vw;
    
}

.projects-grid {
    display:grid;

}
